// * ********************************************************************************************************* *
// *
// * Copyright 2014-2016 Freescale Semiconductor, Inc.
// * Copyright 2017-2019 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "sass:meta";
@use "sass:math";

@function getImageSliceUrl($path, $top, $left) {
  $x: 0;
  $y: 0;

  @if meta.type_of($top) == number {
    @if $top != 0 {
      @if math.is-unitless($top) {
        $x: -#{$top}px;
      } @else {
        $x: -$top;
      }
    }
  } @else {
    $x: $top;
  }

  @if meta.type_of($left) == number {
    @if $left != 0 {
      @if math.is-unitless($left) {
        $y: -#{$left}px;
      } @else {
        $y: -$left;
      }
    }
  } @else {
    $y: $left;
  }

  @return url($path) $y $x;
}

$IO_OIDIS_COMMONS_GRAPHICS_NAMESPACE: "graphics/Io/Oidis/Commons";
$IO_OIDIS_COMMONS_LOGO: getImageSliceUrl("#{$IO_OIDIS_COMMONS_GRAPHICS_NAMESPACE}/LogoSymbol.png", 0, 0);
$IO_OIDIS_COMMONS_ICON_PATH: "graphics/icon.ico";
