// * ********************************************************************************************************* *
// *
// * Copyright 2021-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.RuntimeTest {
  .GoToFirstFailing,
  .GoToNextFailing,
  .GoToLastFailing,
  .GoToSpecific {
    cursor: pointer;

    position: fixed;
    top: 0;
    left: 0;

    width: 25%;
    padding: 5px;
    border-bottom: 2px solid #EF2F34;

    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
  }

  .GoToFirstFailing {
    background-color: #FAD284;

    &:hover {
      background-color: #FADF8F;
    }
  }

  .GoToNextFailing {
    left: 25%;
    background-color: #FF9C52;

    &:hover {
      background-color: #FFB165;
    }
  }

  .GoToLastFailing {
    left: 50%;
    background-color: #F96044;

    &:hover {
      background-color: #F97B5F;
    }
  }

  .GoToSpecific {
    left: 75%;

    height: 36px;
    padding: 5px 5px 5px 15px;
    border-top: 0;
    border-right: 0;
    border-left: 0;

    font-size: 16px;
    text-align-last: center;

    background-color: #388287;
    outline: 0;

    &:hover {
      background-color: #439599;
    }
  }
}
