<div class="col-xl-11" style="width: 50%; margin: auto; padding-top: 50px;">
    This library requires enabled JavaScript in the browser. See link below for more information:<br/>
    <a href="https://www.enable-javascript.com/" target="_blank">How to enable JavaScript?</a>
</div>